.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 20px;
    align-items: center; /* Alinea los elementos en la barra de navegación */
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav a:hover {
    background-color: #575757;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.date-time {
    color: white;
    font-size: 14px; /* Tamaño de la fuente para la fecha y hora */
    margin-left: auto; /* Empuja la fecha y hora hacia la derecha */
}

@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .nav.open {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .date-time {
        margin-left: 0; /* Resetea el margen izquierdo en pantallas pequeñas */
        margin-top: 10px;
    }
}
